<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Stackoverflow clone">

        <!-- set title from each view if you want -->
        <title>{{title}}</title>

        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png" />
        <link rel="manifest" href="/images/favicons/site.webmanifest" />
        <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5" />
        <link rel="shortcut icon" href="/images/favicons/favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="/images/favicons/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />

        <!-- load css -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
            integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="https://feri.um.si" target="_blank">FERI</a>
                <a class="pure-menu-heading" href="https://estudij.um.si" target="_blank">EŠTUDIJ</a>
                <a class="pure-menu-heading" href="/" >my Stackoverflow</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
                    <li class="pure-menu-item"><a href="/sign_up" class="pure-menu-link">Sign Up</a></li>
                    <li class="pure-menu-item"><a href="/sign_in" class="pure-menu-link">Sign In</a></li>
                </ul>
            </div>
        </div>

        {{{body}}}

        <div class="footer l-box is-center">
            Copyright <a href="mailto:andr.nvk@gmail.com?Subject=FERI__SPLETNO_PROGRAMIRANJE__VAJA_3"
                target="_top">andr.nvk@gmail.com</a>
        </div>
    </body>

</html>
